html, body {
  height: 100%;
}

.container {
  padding: 40px;
}

.box-item {
  border: 1px solid red;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.box-col {
  border: 1px solid blue;
}